<html>
    <head>
        <meta charset="UTF-8">
        <title>Yunk - Авторизация</title>
    </head>
    <body>
        <form id="login-form">
            <label>
                Имя пользователя
                <input type="text" id="username" name="username">
            </label>
            <label>
                Пароль
                <input type="password" id="password" name="password">
            </label>
            <br>
            <button type="submit">Войти</button>
        </form>

        <script>
            document.getElementById('login-form').addEventListener('submit', async function(event) {
                event.preventDefault();  // Останавливаем стандартную отправку формы

                // Получаем форму
                const form = event.target;

                // Создаем объект FormData из формы
                const formData = new FormData(form);

                try {
                    // Отправляем POST запрос для авторизации
                    const response = await fetch('http://127.0.0.1:8000/api/login', {
                        method: 'POST',
                        body: formData // Передаем formData в теле запроса
                    });

                    if (response.ok) {
                        const result = await response.json();

                        // Извлекаем JWT токен из ответа
                        const token = result.token; // предполагаем, что токен хранится в поле "token"

                        if (token) {
                            // Сохраняем токен в куках
                            document.cookie = `user_access_token=${token}; path=/; max-age=3600`; // срок действия 1 час
                            alert('Авторизация успешна!');
                        } else {
                            alert('Токен не найден в ответе!');
                        }
                    } else {
                        alert('Ошибка авторизации');
                    }
                } catch (error) {
                    alert('Произошла ошибка при отправке запроса');
                    console.error(error);
                }
            });
        </script>
    </body>
</html>
